<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/stylesheet.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>MISSION TO MARS</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

  <!-- MARS LISTINGS -->

  <!-- Latest Mars News  -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
        <h4 class="heading">{{ mars_data.News_Title }}</h4>
        <p>{{ mars_data.News_Paragraph }}</p>
      </div>
    </div>
  </div>
  <br>

  <!-- Featured Image  -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Featured Mars Image</h2>
        <img class="img-fluid" src="{{ mars_data.Featured_Image }}" alt="Featured Image">
      </div>

    <!-- Mars Info Table  -->
      <div class="col-md-4">
        <h2>Mars Facts</h2>
        {{ mars_data.Mars_Info | safe }}
      </div>
    </div>
  </div>
  <br>

    <!-- Mars Hemispheres -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      <h1>Mars Hemispheres</h1>
    <hr>
    
    <!-- <div class="container"> -->
      <div class="row">
        {% for x in mars_data.Hemispheres %}
        <div class="col-sm-3">
          <div class="card h-100">
            <img class="img-responsive" class="card-img-top" src="{{x.img_url}}" alt="Hemisphere Images">
            <br>
            <div class="car-body">
              <h3 class="card-title">{{x.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
    </div>
  </div>
  <br>
</body>
</html>